{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gracias por rellenar todos los datos {{nombre}} {{apellidos}}</h1> 
    
    <h1>Contactaremos con usted en el horario acordado</h1>
{% endblock%}
