{% extends 'base.html.twig' %}

{% block body %}
    <script src="{{asset('./js/script.js')}}"></script>

    <section class="contenido">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-xl-3"></div>
                {{ form_start(form, {'attr': {'class': 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6'} })  }}
                    {{ form_widget(form) }}
                    <input type="submit" id="enviar" value="Enviar" class="btn btn-dark"/>
                {{ form_end(form) }}
                <div class="col-lg-3 col-xl-3"></div>
 
            </div>
               
        </div>
    </section>

 
{% endblock %}
