<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <script src="{{asset('./js/jquery-3.2.1.js')}}"></script>
        <script src="{{asset('./js/popper.min.js')}}"></script>
        <script src="{{asset('./js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="{{asset('./css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('./css/estilos.css')}}">
        
    </head>
    <body>
         <div id="ocultar">
                <img src="/landpage/web/imagenes/procesando.gif"/>
         </div>
        <section class="cabecera">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 cabecera">
                        <img src="/landpage/web/imagenes/cabecera.jpg"/>
                        <img id="logo" src="/landpage/web/imagenes/logo.svg"/>
                    </div>
                </div>
            </div>
        </section>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
