/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-jul-2018, 16:44:51
    Author     : melly
*/

body{
    background-color: #999;    
}

#logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 5;
    
}
#ocultar{
    width: 100%;
    height:100%;
    z-index: 5;
    display:none;
    background-color: rgba(255,255,255,0.5);
    
}
#ocultar img{
    width: 200px;
    position:absolute;
    top:calc(50% - 100px);/* calculamos el punto central*/
    left:calc(50% - 100px);
    z-index: 6;
}
.cabecera{
    padding:0 !important;
}
.cabecera img{
    width: 100%;
    
}
form{
    margin-top: -13%;
    padding: 50px 20px;
    background-color: rgba(90,90,90,0.4);
   
}

form label{
    color:white;
}
form ul{
    padding-left: 0px;
}
form ul li{
    text-decoration: none;
    list-style-type: none;
    color:white;
    background-color: red;
}
.contenido{
    margin:0 auto;
    background-image: url("/landpage/web/imagenes/corsa.jpg");
    background-repeat: no-repeat;
    height:400px;
}


input{
    width:100%;
}
input[type="submit"]{
    width: 100%;
}
select{
    width: 100%;
}
/*Disposiivos moviles y tablets*/
@media only screen and (max-width: 769px){

    .contenido{
        height: 880px;
    }
}